<div class="container">
    <h1>
        Votre description par des adjectifs</h1>

    <div class="progress">
        <div class="progress-bar progress-bar-striped" style="width:30%">Adjectifs cochés</div>
    </div>
    <br>
    <form>
        <div class="row">
            <div class="col">
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="Joyeux" name="joyeux">
                    <label class="custom-control-label" for="Joyeux">Joyeux</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="Amical" name="joyeux">
                    <label class="custom-control-label" for="Amical">Amical</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="JOYEUX2" name="joyeux">
                    <label class="custom-control-label" for="JOYEUX2">Joyeux</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="JOYEUX3" name="joyeux">
                    <label class="custom-control-label" for="JOYEUX3">Joyeux</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="JOYEUX3" name="joyeux">
                    <label class="custom-control-label" for="JOYEUX3">Joyeux</label>
                </div>
            </div>
            <div class="col">
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="Joyeux" name="joyeux">
                    <label class="custom-control-label" for="Joyeux">Joyeux</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="Amical" name="joyeux">
                    <label class="custom-control-label" for="Amical">Amical</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="JOYEUX2" name="joyeux">
                    <label class="custom-control-label" for="JOYEUX2">Joyeux</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="JOYEUX3" name="joyeux">
                    <label class="custom-control-label" for="JOYEUX3">Joyeux</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="JOYEUX3" name="joyeux">
                    <label class="custom-control-label" for="JOYEUX3">Joyeux</label>
                </div>
            </div>
            <div class="col">
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="Joyeux" name="joyeux">
                    <label class="custom-control-label" for="Joyeux">Joyeux</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="Amical" name="joyeux">
                    <label class="custom-control-label" for="Amical">Amical</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="JOYEUX2" name="joyeux">
                    <label class="custom-control-label" for="JOYEUX2">Joyeux</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="JOYEUX3" name="joyeux">
                    <label class="custom-control-label" for="JOYEUX3">Joyeux</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="JOYEUX3" name="joyeux">
                    <label class="custom-control-label" for="JOYEUX3">Joyeux</label>
                </div>
            </div>
            <div class="col">
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="Joyeux" name="joyeux">
                    <label class="custom-control-label" for="Joyeux">Joyeux</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="Amical" name="joyeux">
                    <label class="custom-control-label" for="Amical">Amical</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="JOYEUX2" name="joyeux">
                    <label class="custom-control-label" for="JOYEUX2">Joyeux</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="JOYEUX3" name="joyeux">
                    <label class="custom-control-label" for="JOYEUX3">Joyeux</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="JOYEUX3" name="joyeux">
                    <label class="custom-control-label" for="JOYEUX3">Joyeux</label>
                </div>
            </div>
        </div>
    </form>
</div>
